<!doctype html>
<html lang="en" data-framework="marionettejs">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

  <title><%- title %></title>

  <!-- Bootstrap core CSS -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Custom styles for this template -->
  <link href="/styles/custom.css" rel="stylesheet">
  <link href="/styles/notepad.css" rel="stylesheet">
</head>

<body>

<div id="headerRegion"></div>
<div id="contentRegion"></div>
<div id="footerRegion"></div>
<div id="modalRegion" class="modal fade" style="display:none"></div>
<div id="appLockRegion" class="modal fade" style="display:none"></div>

<script data-main="app/main" src="bower_components/requirejs/require.js"></script>
</body>

</html>
