<div class="container">
  <div class="app-teaser">
    <img src="/images/todomvc-teaser.png">
  </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <div class="row">

    <div class="col-lg-4">
      <div class="feature-icon-wrapper feature-todomvc">
        <img src="/images/todomvc-logo.png">
      </div>
      <h2>TodoMVC</h2>
      <p>The todo app you love. Way over-architected.  Create your own lists, invite friends, assign privileges.</p>
      <p><a class="feature-link" href="//www.todomvc.com">Learn more</a></p>
    </div>

    <div class="col-lg-4">
      <div class="feature-icon-wrapper feature-sails">
        <img src="/images/sailsjs-logo.png">
      </div>
      <h2>Sails.js</h2>
      <p>Real-time MVC framework for NodeJS. Built on Express and modeled after frameworks like Ruby on Rails, but with a modern data-driven twist.</p>
      <p><a class="feature-link" href="//www.sailsjs.org">Learn more</a></p>
    </div>

    <div class="col-lg-4">
      <div class="feature-icon-wrapper feature-stormpath">
        <img src="/images/stormpath-logo-2.jpg">
      </div>
      <h2>Stormpath</h2>
      <p>Multi-tenant authentication tier made by a bunch of Starwars geeks obsessed with security.</p>
      <p><a class="feature-link" href="//www.stormpath.com">Learn more</a></p>
    </div>

  </div>

</div>
